@import "../../../style/_mixin.scss";

.book-page {
  @include flexbox;
  @include flex-dir(column);
  @include align-items(center);
  height: 100%;
  background: #222233;
  border: 1px solid #a9cbff;
  padding: 10px;
}
