@import "./_mixin.scss";

//Containers
@mixin container {
  @include flexbox;
  @include flex-dir(column);
  @include align-items(center);
  padding: 10px;
  box-sizing: border-box;
  min-height: 100%;
}

@mixin containerList {
  @include flexbox;
  @include flex-dir(row);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  @include align-content(space-around);
}

@mixin item {
  @include flexbox;
  @include flex-dir(column);
  @include justify-content(center);
  @include flex(1, 1, 30%);
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #a9cbff;
  box-sizing: border-box;
  min-height: 100px;
  margin: 5px;
}

//UI
@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin list-el($color:#000000, $fz: 20px) {
  font-size: $fz;
  color: $color;
}

@mixin link($color: #000000, $fz: 20px, $text-transform: uppercase) {
  font-size: $fz;
  color: $color;
  text-transform: $text-transform;
  text-decoration: none;
}

//EFFECTS
@mixin opacity($opt) {
  @keyframes opacityMotion {
    100% {
      opacity: $opt;
    }
  }
}

@mixin rotate($rt) {
  @keyframes rotateMotion {
    100% {
      transform: rotate($rt);
    }
  }
}
