.book-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px; }
  .book-info__name {
    font-size: 18px;
    width: fit-content;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #a9cbff; }
  .book-info__author {
    font-size: 14px;
    color: #6fa2dd;
    width: fit-content;
    margin-bottom: 10px; }
  .book-info__pages, .book-info__year {
    font-size: 14px;
    color: #6fa2dd;
    margin-bottom: 10px; }
  .book-info__year {
    margin-bottom: 0; }
