@import "../../style/_mixin.scss";
@import "../../style/_mixinComps.scss";

.container-loader {
  @include justify-content(center);
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 10px double;
  border-right-color: #00457e;
  border-left-color: #00457e;
  border-top-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  animation: rotateMotion 1s infinite linear;
  align-self: center;
}

@include rotate(360deg);
